@use "mixins";
@use "variables";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: variables.$body-font;
  text-decoration: none;
  list-style: none;
}
// fonts typography start

.h1 {
  font-size: variables.$h1-font-size !important;
  @include mixins.media-breakpoint-down(lg) {
    font-size: variables.$h1-xs-font-size !important;
  }
}

.h2 {
  font-size: variables.$h2-font-size !important;
  @include mixins.media-breakpoint-down(lg) {
    font-size: variables.$h2-xs-font-size !important;
  }
}

.h3 {
  font-size: variables.$h3-font-size !important;
  @include mixins.media-breakpoint-down(lg) {
    font-size: variables.$h3-xs-font-size !important;
  }
}

.h4 {
  font-size: variables.$h4-font-size !important;
  @include mixins.media-breakpoint-down(lg) {
    font-size: variables.$h4-xs-font-size !important;
  }
}

.p1 {
  font-size: variables.$p1-font-size !important;
  margin: 0px;
  font-weight: 400;
  @include mixins.media-breakpoint-down(lg) {
    font-size: variables.$p1-xs-font-size !important;
    margin: 0px;
  }
}
.p2 {
  font-size: variables.$p2-font-size;
  margin: 0px;
  font-weight: 700;
  @include mixins.media-breakpoint-down(lg) {
    font-size: variables.$p2-xs-font-size;
  }
}

.p50 {
  padding: 50px 0px;
}
// fonts typography end

.button_primary {
  background: linear-gradient(94.36deg, variables.$primary 3.1%, variables.$support_primary 94.54%);
  border-radius: 8px;
  border: none;
  color: variables.$black;
  padding: 12px 40px;
  font-weight: 700;
  transition:ease-in-out;
  transition-duration: 5s;
  transition-delay: 1s;
  &:hover{
    background: linear-gradient(94.36deg, variables.$support_primary 3.1%, variables.$primary 94.54%);
  

    
  }
  @include mixins.media-breakpoint-down(md){
    width: 100%;
  }
 
}
.notbutton_primary {
  background: transparent;
  border: 2px solid variables.$grey !important;
  border-radius: 8px;
  border: none;
  color: variables.$grey;
  padding: 12px 40px;
  @include mixins.media-breakpoint-down(md){
    width: 100%;
  }
}
.header_middle {
  display: flex;
  gap: 40px;
  margin: 0px;
  .nav-item {
    color: variables.$grey;
  }
  .nav-item:hover {
    color: variables.$primary;
  }
}
.headerbar {
  padding-top: 17px;
}
.gradinet_color {
  background: linear-gradient(90deg, variables.$primary 0%, variables.$support_primary 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

// bannerSection
.bannerSection {
  padding-top: 40px;
}
.name {
  p{
    color: variables.$white;
    line-height: 30px;
    letter-spacing: 2px;
    font-weight: 400;
  }
  h3,
  h2 {
    color: variables.$white;
    padding-top: 8px;
  }
  h1 {
    padding-top: 20px;
  }
}

// navbar css
.navbar-brand {
  padding-top: var(--bs-navbar-brand-padding-y);
  padding-bottom: var(--bs-navbar-brand-padding-y);
  margin-right: var(--bs-navbar-brand-margin-end);
  font-size: var(--bs-navbar-brand-font-size);
  color: variables.$grey !important;
  text-decoration: none;
  white-space: nowrap;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: variables.$grey !important;
}
.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: variables.$grey !important;
  text-decoration: none;
  background: 0 0;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
nav.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: variables.$black !important;
}
.navbar-toggler {
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: var(--bs-navbar-color);
  background-color: variables.$white !important;
  border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
  border-radius: var(--bs-navbar-toggler-border-radius);
  transition: var(--bs-navbar-toggler-transition);
}

// navbar css end
.banner_social_icons {
  display: flex;
  gap: 20px;
  padding-top: 33px;
  padding-left: 0px;
  li {
    border: 2px solid grey;
    padding: 10px;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    a {
      color: variables.$grey;
      text-align: center;
      display: block;
      font-size: 20px;
    }
  }
}

.hireme_div {
  display: flex;
  gap: 20px;
  padding-top: 20px;
  @include mixins.media-breakpoint-down(md){
    flex-wrap: wrap;
  }
  button{
    display: flex;
    justify-content: center;
  }
}

.experience_wrap {
  background: #dfd4d40a;
  margin-top: 40px;
  border-radius: 8px;
  color: white;
  display: flex;
  padding: 24px;
  justify-content: center;
  font-weight: 700;
  gap: 40px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border: 1px solid white;
  .leftborder {
    border-left: 1px solid variables.$grey;
    padding-left: 40px;
  }
  .count {
    color: variables.$primary;
    font-weight: 700;
  }

  @include mixins.media-breakpoint-down(md){
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

// services css
.services_wrap {
  padding-top: 60px;

  h2 {
    color: variables.$white;
    text-align: center;
  }
  p {
    color: variables.$grey;
    text-align: center;
    padding-top: 20px;
  }
  .service_card {
    background: #ffffff0a;
    display: block;
    padding: 34px;
    border-radius: 24px;
    text-align: center;
    margin-top: 40px;

    img {
      width: 70px;
      padding-bottom: 40px;
      filter: invert(1) brightness(100%) grayscale(100%) contrast(100%);
    }
    h4 {
      color: variables.$primary;
    }
    h3 {
      color: variables.$grey;
    }
  }
}
.aboutme_wrap {
  color: variables.$grey;
  h2 {
    color: variables.$white;
  }
  p {
    line-height: 30px;
    @include mixins.media-breakpoint-down(md){
      padding: 10px;
    }
  }
  button {
    margin-top: 30px;
  }
}
// // progress bar
// .circular-progress-bar {
//    position: relative;
//    display: inline-block;
//  }

//  .circular-progress-bar svg {
//    transform: rotate(-90deg);
//  }

//  .circular-progress-bar .progress-text {
//    position: absolute;
//    top: 50%;
//    left: 50%;
//    transform: translate(-50%, -50%);
//    font-size: 1.2em;
//    font-weight: bold;
//    color: #333;
//  }
.tabs {
  color: variables.$white;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: variables.$white !important;
  background-color: variables.$primary !important;
}
.portfolio_wrap {
  color: variables.$grey;
  h1 {
    color: variables.$white;
  }
  .nav-pills {
    padding-top: 50px;
  }
}
// portfolio
.portfolio_wrap {
  .gallery {
    padding-top: 50px;
    .portimg {
      height: 300px;
      // filter: grayscale(100%);
      // opacity: 0.8;
      // transition: transform 0.3s ease, filter 0.3s ease, opacity 0.8s ease;

      &:hover {
        //   filter: grayscale(0%);
        //   transform: scale(1.05);
        opacity: 1;
      }
    }
  }
  .gallery_txt {
    display: block;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    p{
      margin: 0px;
    }
  }
}

.design_wrap {
  h1 {
    color: variables.$white;
  }
  p {
    color: variables.$grey;
  }
  .gallery {
    flex: 0 0 calc(100% / 4);
    scroll-snap-align: start;
    padding-top: 50px;
    img {
      width: 100%;
      border-radius: 10px;
      filter: grayscale(100%);
      opacity: 0.8;
      transition: transform 0.3s ease, filter 0.3s ease, opacity 0.8s ease;

      &:hover {
        filter: grayscale(0%);
        transform: scale(1.05);
        opacity: 1;
      }
    }
  }
  .gallery_txt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
  }
}

.footer_social_icons {
   display: flex;
   justify-content: center;
   gap: 20px;
   padding-top: 70px;
   padding-left: 0px;
   li {
     border: 2px solid grey;
     padding: 10px;
     border-radius: 100%;
     height: 50px;
     width: 50px;
     a {
       color: variables.$grey;
       text-align: center;
       display: block;
       font-size: 20px;
     }
   }
  
 }
 .gmail_wrap{
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 30px 0px;
   gap: 30px;
   .gmail{
      display: flex;
      align-items: center;
      gap: 20px;
      color: variables.$grey;
      p{
         margin: 0px;
      }
   }
}
 .designedby{
   text-align: center;
   color: variables.$grey;
   border-top: 1px solid variables.$grey;
   padding-top: 20px;
   
 }
 footer{
   display: flex
;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: grid
;
    place-items: center;
 }
 label[data-shrink=false]+.MuiInputBase-formControl .css-w76bbz-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
   // border:1px solid $white;
   width:100px;
}
.css-sc8y68-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
   border: 1px solid orange !important;
   background-color:transparent  !important;
}
.css-w76bbz-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
   height: auto;
   overflow: hidden;
   width: 100px !important;
}
.css-w76bbz-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-w76bbz-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-w76bbz-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
   padding-right: 32px;
   color: variables.$grey !important;
}
.css-113d811-MuiFormLabel-root-MuiInputLabel-root {
   color: variables.$primary !important;
  
}
.css-113d811-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
   color: variables.$primary !important;
}
.css-lohd6h-MuiSvgIcon-root-MuiSelect-icon {
   color: variables.$white !important;
}
.css-113d811-MuiFormLabel-root-MuiInputLabel-root {
   color: variables.$grey  !important;
}
/* Style for active link */
.nav-link.active-link {
   color: variables.$support_primary  !important; 
   font-weight: bold;
 }
 .notranslate::after{
  color: variables.$white !important;
 }

 .abouttext{
  // padding-top: 240px;
  
 }
 .abouthead_div{
letter-spacing: 2px;
line-height: 10px;
 }

 .abouthead_div{
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  perspective: "100px";
  
  h6{
    color: variables.$support_primary;
  }
  
 }


 .cards{
  margin-top: 50px;
  color: variables.$white;
  img{
    width: 20px;
    display: flex;
    justify-content: end;
    fill: #000;
    filter: brightness(0) invert(1);
  }
  .cardPlusimage{
    display: flex;
    justify-content: end;
    p{
      color:  variables.$support_primary ;
    }
  }
  .innercard{
    background-color:  rgba(40, 40, 43, 0.6156862745);
    border: 1px solid #222222;
    padding: 20px;
    border-radius: 6px;

    p{
      color: variables.$support_primary;
    }
  }
 }

//  accordion 
.accordion-item {
  color:variables.$white  !important;
  background-color:variables.$black !important;
  border: none !important;
  margin: 10px;
}
.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 30px !important;
  color: variables.$white !important;
  background-color: #28282b9d !important;
  // background-color: #28282B !important;
 
}
.accordion-button::after {
  fill: white;
  filter: brightness(0.5) invert(1);
}
.accordion-button:focus {
  z-index: 3;
  outline: 0;
  box-shadow:none;
}
.accordion-button:not(.collapsed) {
  box-shadow: none !important;
}
.flatcolor_div{
  position: fixed;
  top: 20%;
  right: 7px;
  z-index: 9999;
  background-color: variables.$black;
  padding: 20px 10px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  .floatcolor1{
    background-color:#23e1d1 ;
    border-radius: 100%;
    height: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 30px;
    margin: 5px;

  }
  .floatcolor2{
    background-color: rgb(255, 251, 29);
    border-radius: 100%;
    height: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 30px;
    margin: 5px;

  }

}
button:focus:not(:focus-visible) {
  box-shadow: none !important;
}